@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    overflow: hidden;
    padding: 15px 30px;
}

header ul li a:hover {
    color: #8f1773;
    background: #f321c2;
    box-shadow: 0 0 10px #f321c2, 0 0 40px #f321c2, 0 0 80px #f321c2;
} 

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./img/background-banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: none;
}

#about-card {
    width: 800px;
    height: 400px;
    margin: 50px 0 0 0;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

#about-card .content {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: white;
}

#about-card .content h1 {
    margin-top: 20px;
}

#about-card .content img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

#about-card .content p {
    margin: 0 20px;
}

@media (max-width: 1100px) {
    header {
        display: none;
    }

    .banner {
        margin-left: 100px;
    }

    #about-card {
        width: 80%;
        height: 600px;
        margin-right: 75px;
    }

    i {
        color: white;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 110000;
        top: 0;
        left: 0;
        height: 100%;
        width: 78px;
        background: #11101d;
        padding: 6px 14px;
        transition: all 0.5s ease;
    }

    .sidebar .active {
        width: 240px;
    }

    .sidebar .name-content .name {
        color: #fff;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .active .name-content .name {
        opacity: 1;
        pointer-events: auto;
    }

    .name-content .name .name-text {
        font-size: 20px;
        font-weight: 400;
    }

    .sidebar #btn {
        color: #fff;
        position: absolute;
        left: 50%;
        top: 6px;
        font-size: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
    }

    .sidebar .active #btn {
        left: 90%;
    }

    .sidebar ul {
        margin-top: 20px;
    }

    .sidebar ul li {
        position: relative;
        height: 50px;
        width: 100%;
        list-style: none;
        margin: 0 5px;
        line-height: 50px;
    }

    .sidebar ul li a {
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        border-radius: 12px;
    }

    .sidebar ul li a:hover {
        color: #8f1773;
    background: #f321c2;
    box-shadow: 0 0 10px #f321c2, 0 0 40px #f321c2, 0 0 80px #f321c2;
    }

    .sidebar ul li i {
        height: 50px;
        min-width: 50px;
        border-radius: 12px;
        line-height: 50px;
        text-align: center;
    }

    .sidebar .links-name {
        opacity: 0;
        pointer-events: none;
    }
    .sidebar .active .links-name {
        opacity: 1;
        pointer-events: auto;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
    }
}